sphinx
sphinx_rtd_theme

torch
torch_geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
yacs
pytorch-lightning
torchmetrics
performer-pytorch
tensorboardX
ogb
wandb
pymetis
