sphinx
sphinx_rtd_theme

torch==2.5.0
torch_geometric
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
yacs
pytorch-lightning
torchmetrics
performer-pytorch
tensorboardX
ogb
wandb
pymetis
